<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="img/planetaLaranja.png">
    <title>JupiterZX</title>
</head>
<body>

    <nav class="navbar">

        <div class="logo">
            <img class="logoNav" src="img/logoIS.png" alt="logo">
        </div>

        <div class="menu">
            <a class="menua" href="">JupiterZX</a>
            <a class="menua" href="">Genesys Cloud</a>
            <a class="menua" href="">Plataforma Jupiter</a>
            <a class="menua" href="">Sobre Nós</a>
            <a class="menub" href="">Contate-nos</a>
        </div>

    </nav>

    <div>
        <div class="titulo">
            <h1 class="tRoxo">
                Conexões que transformam:
                <span class="tLaranja">
                    O futuro do seu CX começa aqui
                </span>
            </h1>
            <p class="grifado">Conexões Verdadeiras com Genesys Cloud</p>
        </div>
    
        <div class="texto">

            <p class="cinza">
                Na Information Systems, não só implementamos o <b>Genesys Cloud</b> como o potencializamos com JupiterZX
            </p>
            <br>
            <p class="textoRoxo">
                <img class="seta" src="img/setinha.png" alt="Setinha Roxa">
                Entre em contato e decubra como
                <spam class="textoLaranja">
                    transformar o atendimento na sua empresa com 
                    <img class="logoGenesys" src="img/logo-genesys.webp" alt="Logo Genesys">
                </spam>
            </p>
    
            <br>
            <button class="botao">Saiba Mais!</button>
    
        </div>
    
        <img class="homem" src="img/homem_homepage.png" alt="">
    </div>
    
    <footer class="footer">

        <div class="footerTexto">

            <p><b>Brasil</b>
                <br>
                <b>São Paulo | </b>Avenida Brigadeiro Luis Antonio, 3530, 9º andar - sala 91, CEP 01402-001
                11.3884-3559
                <br>
                contato@informationsys.com
                <br>
                <br>
                <br>
                <b>Colômbia</b>
                <br>
                <b>Bogotá | </b>Calle, 90 No. 11 - 13, Piso 5, Regus - Torre Urban Plaza
                (601) 6466617
                <br>
                <br>
                <br>
                <b>Medellin | </b>Calle 7 Sur No. 42-70 Oficina 915
                Edificio Forum, Barrio El Poblado
                <br>
                57 (604) 444 4797
                <br>
                contacto@informationsys.com
            </p>
            <br>
            <br>
            <a href="https://www.linkedin.com/company/information-systems-international/posts/?feedView=all">
                <img class="linkedin" src="img/linkedin.png" alt="linkedin">
            </a>
        </div>

        <div>
            <img class="planeta" src="img/logo_jupiter_planeta.png" alt="Logo Planeta">
        </div>

    </footer>
    
</body>
</html>