* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    position: relative;
}

.capa {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(75, 21, 95);
    background: radial-gradient(circle, rgba(75, 21, 95, 1) 21%, rgba(78, 22, 93, 1) 59%, rgba(98, 27, 76, 1) 82%, rgba(102, 28, 73, 1) 90%, rgba(108, 30, 68, 1) 95%, rgba(122, 34, 55, 1) 100%);
    margin-bottom: 80px;
}

.logoIS {
    align-self: flex-end;
    width: 300px;
    margin-top: 80px;
    margin-bottom: 120px;
    margin-right: 100px;
}

.titulo {
    font-size: 50px;
    color: white;
}

.subtitulo {
    font-size: 35px;
    color: white;
}

.genesyslogo {
    width: 200px;
    background-color: #FF451A;
    padding: 5px;
    border-radius: 10px;
}

.logoJupiterZX {
    align-self: flex-start;
    width: 300px;
    margin-top: 200px;
    margin-left: 100px;
    margin-bottom: 100px;
}

.sumario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tSumario {
    font-size: 40px;
    margin: 20px;
}

a {
    color: #fff;
    text-decoration: none; 
    font-size: 30px;
    margin: 8px;
  }

.botao {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 550px;
    height: 50px;
    background-color: #4B155F;
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    font-family: Arial;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #8f46aa;
}

.introducao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tIntroducao {
    font-size: 40px;
    margin: 80px;
}

.textoIntroducao {
    width: 80%;
    font-size: 30px;
}

.visao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tVisao {
    font-size: 40px;
    margin: 80px;
}

.textoVisao {
    width: 80%;
    font-size: 30px;
}

.plataforma {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tPlataforma {
    font-size: 40px;
    margin: 80px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: #E8E8E8; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    padding: 20px; 
    text-align: center;
    height: 350px;
    width: 300px; 
    margin: 30px; 
  }
  
 .card img {
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 50%;
    margin-bottom: 15px; 
  }
  
  .card b {
    display: block; 
    font-size: 20px; 
    font-weight: bold;  
    color: #343a40; 
    margin-bottom: 15px; 
  }
  
  .card p {
    font-size: 15px; 
    color: #6c757d; 
    line-height: 1.5; 
  }

.genesys {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 40px;
    margin: 80px;
}

.texto {
    width: 80%;
    font-size: 30px;
}

.potencializa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conclusao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encerramento {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(75, 21, 95);
    background: radial-gradient(circle, rgba(75, 21, 95, 1) 21%, rgba(78, 22, 93, 1) 59%, rgba(98, 27, 76, 1) 82%, rgba(102, 28, 73, 1) 90%, rgba(108, 30, 68, 1) 95%, rgba(122, 34, 55, 1) 100%);
    margin-top: 80px;
}

 .encerramento img {
    width: 80%;
    margin: 200px;
 }

 .gradiente1 {
    position: absolute;
    width: 100%;
    opacity: 20%;
    z-index: -1;
 }

 .gradiente2 {
    position: absolute;
    width: 100%;
    opacity: 40%;
    z-index: -1;
 }

 .gradiente3 {
    position: absolute;
    width: 100%;
    opacity: 30%;
    z-index: -1;
 }

 .estrelas1 {
    position: absolute;
    top: 1000px;
    width: 100%;
    opacity: 20%;
    z-index: -1;
 }

 .estrelas2 {
    position: absolute;
    top: 2550px;
    width: 100%;
    opacity: 20%;
    z-index: -1;
 }

 .estrelas3 {
    position: absolute;
    bottom: 615px;
    width: 100%;
    opacity: 20%;
    z-index: -1;
 }

 .estrelas4 {
    position: absolute;
    top: 630px;
    width: 100%;
    opacity: 20%;
    z-index: -1;
 }